Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

Ans.

Select RTRIM(FIRST_NAME) as First_Name from Worker;

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

Ans.

Select distinct length(DEPARTMENT) from Worker;

Q-3. Write an SQL query to fetch nth max salaries from a table.

Ans.

SELECT DISTINCT TOP n Salary
FROM Worker 
ORDER BY Salary DESC