1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

Ans.

In [58]:
test1="This is a test of the emergency text system,"
with open('test.txt','a+') as f:
    f.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [59]:
with open('test.txt','r') as f:
    test2=f.read()
print(test2)

# There is no difference between test 1 and test 2. 
# Only the object's name are different but they both are accessing the same file.

This is a test of the emergency text system,

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [60]:
import csv
from io import StringIO
data='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','wt') as f:
    f.write(data)

In [61]:
import os
os.getcwd()

'D:\\Ineuron\\assignments\\Python basic assignments'

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [62]:
import sqlite3
conn=sqlite3.connect("books.db")
cur=conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS books(title text,author text,year integer)")
conn.commit()
conn.close()

5. Read books.csv and insert its data into the book table.

In [63]:
import sqlite3
conn=sqlite3.connect("books.db")
cur=conn.cursor()
with open('books.csv','r') as fin:
    dr = csv.DictReader(fin)
    to_db = [(i['title'], i['author'],i['year']) for i in dr]

cur.executemany("INSERT INTO books(title,author,year) VALUES (?, ?, ?);", to_db)
conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [64]:
conn = sqlite3.connect("books.db")
cur = conn.cursor()
cur.execute("SELECT *FROM books")
rows=cur.fetchall()
title=[]
for i in rows:
    title.append(i[0])
title=sorted(title) 
[print(i) for i in title]
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [65]:
conn = sqlite3.connect("books.db")
cur = conn.cursor()
cur.execute("SELECT *FROM books")
rows=cur.fetchall()
title=[]
for i in rows:
    title.append(i)
# title=sorted(title[2]) 
title.sort(key = lambda x: x[2])
[print(i) for i in title]
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [77]:
from flask_sqlalchemy import sqlalchemy
import pandas as pd
#2.-Turn on database engine
dbEngine=sqlalchemy.create_engine(r'sqlite:///D:\\Ineuron\\assignments\\Python basic assignments\\books.db') 
#3.- Read data with pandas
pd.read_sql('select * from books',dbEngine)

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [98]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

<ipython-input-98-c05998fbf204>:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

10. Increment the count field of test and print it.

In [99]:
conn.hincrby('test', 'count', 3)
conn.hget('test', 'count')
conn.hgetall('test')

{b'count': b'4', b'name': b'Fester Bestertester'}